<p id="notice"><%= notice %></p>
<% @teamvds.each do |d|  %>
  <p>
  <b>Name:</b>
  <%= d.user.distance_essentials  %>
</p>

<% end %>



<%= link_to 'Edit', edit_team_path(@teamvds) %> |
<%= link_to 'Back', teams_path %>
