<h2 class= "text-center">Home</h2>



<% if user_signed_in? %>
  <div class= "text-center">
    <a href="static_pages/search_user" class="button" style="background-color: #30307e;color:#BABAD4;">Search Users</a>
  </div>
<%else%>
  <div class= "text-center">
    <a href="users/sign_in" class="button"style="background-color: #30307e;color:#BABAD4;">Log In</a>
  </div>

  <div class= "text-center">
    <a href="users/sign_up" class="small button"style="background-color: #30307e;color:#BABAD4;">New User</a>
  </div>
<%end%>
