<h1 class= "text-center"><br>Cross Country</br>Team Manager</h1>



<% if user_signed_in? %>
<%else%>
  <div class= "text-center">
    <a href="users/sign_in" class="button"style="background-color: #30307e;color:white;">Log In</a>
  </div>

  <div class= "text-center">
    <a href="users/sign_up" class="small button"style="background-color: #30307e;color:white;">New User</a>
  </div>
<%end%>
